* {
  box-sizing: border-box;
}

:root {
  --brown: rgb(85, 51, 0);
  --golden: rgb(240, 218, 146);
  --darkblue: rgb(13, 12, 25);
}
  
body {
  background-color: #e2e2e2;
  font-family: 'Cormorant Infant', serif;
  /*font-family: 'Playfair Display', serif;
  font-family: 'Prata', serif;
  font-family: 'Playfair Display SC', serif;
  font-family: 'Cormorant', serif;
  font-family: 'Cormorant SC', serif;*/
  font-size: 10px;
  color: black;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  height: 40px;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
}

header > ul, nav > ul {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#language > li {
  padding: 20px;
}

.nav-link {
  padding: 20px 30px;
  color: black;
  display: flex;
  height: 35px;
  align-items: center;
}

a.nav-link:hover {
  background-color: rgb(85, 51, 0);
  color: white;
  transition: 0.5s;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}
  
  /*h2 {
    font-size: 2.5em;
  }*/
  
  h3 {
    font-size: 2em;
  }

  section {
    padding: 40px 80px;
  }

  .home {
    display: flex;
    flex-direction: column;
    background-image: url("../ravenna-mosaics/ravenna-images/001-home_1.jpg");
    background-position: center;
    background-size: 120%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
  }

  .sepia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 58, 0, 0.5);
  }

  .title {
    width: 60%;
    color: white;
    font-size: 1.6em;
    text-shadow: 2px 2px 8px black;
  }

  .title h1, h3 {
    margin: 0;
  }

  .book {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    height: 100vh;
  }

  .book-cover {
    min-width: 30%;
  }

  img {
    width: 100%;
  }

  .book-description {
    font-size: 2.3em;
    font-weight: bold;
    text-align: justify;
    color: var(--brown);
    margin-right: 30px;
  }

  .author {
    display: flex;
    flex-direction: row;
    background-color: rgba(99, 67, 0, 0.6);
    align-items: center;
    height: 100vh;
  }

  .avatar {
    min-width: 40%;
  }

  .author-description {
    font-size: 2.3em;
    text-align: justify;
    color: white;
    margin-left: 30px;
  }

.timetable {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  color: var(--brown);
}

.timetable h3 {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.afisha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datelist {
  text-align: left;
  font-size: 2em;
  list-style-type: none;
  max-width: 90%;
}

.datelist li {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.flag {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: linear-gradient(90deg, rgba(59,42,17,1) 65%, rgba(59,42,17,0.7) 80%, rgba(59,42,17,0.45) 90%, rgba(255,255,255,0) 100%);
  min-width: 250px;
  height: 70px;
  padding: 5px 0;
  border-radius: 3%;
}

.bullet {
  background-image: url(../ravenna-mosaics/ravenna-images/bullet.jpg);
  background-repeat: no-repeat;
	background-position: center;
  background-size: 50px;
  width: 50px;
  margin-left: 7px;
}

.date {
  margin-left: 10px;
  padding: 5px;
  color: white;
}

.event {
  font-size: 1.2em;
  padding-left: 20px;
}

.event a {
  text-decoration: underline;
}

.contacts {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  background-image: url(../ravenna-mosaics/ravenna-images/020-forzas-2-vertical.jpg);
  background-position: left;
  background-size: 50vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(245,246,249,0) 0%, rgba(17,18,37,0.7679446778711485) 14%, rgba(13,12,25,1) 39%, rgba(13,12,25,1) 50%, rgba(13,12,25,1) 61%, rgba(17,18,37,0.77) 86%, rgba(255,255,255,0) 100%);
}

.contacts h3 {
  font-size: 4em;
  color: var(--golden);
}

.contacts p {
  color: white;
  font-size: 3em;
}

#linkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.social p {
  font-size: 2em;
  color: white;
  margin: 0;
}

.icon {
  font-size: 7em;
  margin: 20px;
  color: var(--darkblue);
  background-color: var(--golden);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  text-align: center;
  font-size: 1.7em;
  padding: 5px 40px;
  background: var(--darkblue);
}

footer div {
  padding: 0;
  margin: 0;
  color: white;
}