.bookpage {
    background-color: $maroon;
    font-family: $main-font;
}

.cupola {
    position: absolute;
    top: -510px;
    right: 33%;
    height: 1500px;
    width: auto;
}

.title-container {
    /*margin: 200px 0 0 830px; */
    position: relative;
    top: 200px;
    right: -63%;
    color: white;
    text-align: left;
    font-size: 1.2em;
    max-width: 500px;
}

.booktitle {
    color: white;
    text-align: left;
    font-family: $heading-font;
}

.booktitle__subtitle {
    font-size: 2em;
    padding-top: 10px;
    padding-left: 15px;
}

.link-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 60px 0 60px;
}

.link-row__link {
    color: white;
    font-size: 1.8em;
    margin: 20px;
    border-bottom: 1px solid white;
}

.questions {
    /*margin: 70px 0 0 720px; */
    font-family: $heading-font;
    position: absolute;
    top: 700px;
    right: 20%;
}

.questions__item {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.1em;
    &:nth-child(2) {
        margin-left: -70px;
    }
    &:nth-child(3) {
        margin-left: -110px;
    }
    &:nth-child(4) {
        margin-left: -130px;
    }
}

.questions__pic {
    height: 60px;
    width: auto;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 3px $golden;
}

.questions__text {
    display: inline;
    color: white;
    line-height: 60px;
    margin: 0 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    margin: 80px;
    color: white;
    font-size: 1.7em;
    margin-top: 1000px;
}

.book-info__title {
    margin-bottom: 40px;
    font-size: 2em;
    font-family: $heading-font;
}

.book-info__wrap {
    display: flex;
}

.book-info__text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    font-family: $main-font;
}
/*background-image: url("../ravenna-images/smartmockups_kivnh10j_bright.png");
    background-position: right bottom;
    background-repeat: no-repeat; 
    background-size: 50%;
    height: 500px; */

.book-info-cover {
    min-width: 30%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 160px;
    color: white;
    font-size: 1.6em;
}

.cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    border: solid 1px black;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 3px $golden;
}

.cards__text {
    padding: 20px;
}

.cards__title {
    font-size: 2em;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-family: $heading-font;
}

.cards__list {
    text-align: left;
    list-style: disc;
    list-style-position: inside;
}

.cards__listitem {
    padding: 5px;
}