.book {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: top;
    min-height: 100vh;
  }
  
  .book-cover {
    min-width: 30%;
    margin-right: 30px;
  }
  
  img {
    width: 100%;
  }

  @media (max-width: 900px) {
    .book-cover {
      margin: 0 0 40px 0;
      width: 50%;
    }
  }
  
  .book-description {
    font-size: 1.7em;
    text-align: justify;
    color: $maroon;
    margin-right: 30px;
    font-family: $main-font;
  }
  
  .book-description h2 {
    text-align: center;
    font-family: $heading-font;
  }
    
  @media (max-width: 900px) {
    .book {
      flex-direction: column;
      align-items: center;
    }
  
    .book-description {
      margin: 0;
    }
  }

  .book-description__list {
    list-style: disc inside;
  }

  .book-description__list-li {
    margin-bottom: 5px;
  }

  .btn--book-order {
    font-size: 1.2em;
    width: 200px;
  }

  @media (max-width: 900px) {
    .btn--book-order {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .book-description__long {
    font-size: 0.9em;
  }