.cta-btn {
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    -webkit-font-smoothing: antialiased;
    padding-top: 30vh;
}
  
.cta-btn__link {
    color:white;
    text-decoration:none;
    transition:0.3s all ease;
    &:hover {
      color:white;
    }
    &:focus {
      text-decoration:none;
    }
    &:active {
      color:#FFF;
    }
}
  
.cta-btn__effect {
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:bold;
    font-size: 1.6em;
    position:relative;
    &:after {
      transition:0.3s all ease;
      content:'';
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      right:0;
      /*border-radius:3px; */
      border:3px solid;
      border-image-source: linear-gradient(45deg, rgba(148,137,0,1), rgba(255,254,213,1), rgba(148,137,0,1));
      border-image-slice: 1;
    }
    &:before {
      content:'';
      position:absolute;
      /*border-radius:3px; */
      left:0;
      top:0;
      bottom:0;
      right:0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border:3px solid;
      border-image-source: linear-gradient(45deg, rgba(116,107,0,1), rgba(255,254,213,1), rgba(116,107,0,1));
      border-image-slice: 1;
    }
    &:hover {
      &:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    &:active {
      -webkit-transform:scale(1.1);
      transform:scale(1.1);
      &:before {
        background-color:white;
      }
      &:after {
        border-color:white;
      }
    }
}
  
@media (max-width: 960px) {
    .cta-btn {
      padding-top: 100px;
    }
}
  
@media (max-width: 500px) {
    .cta-btn {
      font-size: 1.5em;
    }
}

.basic-btn {
    display: block;
    width: 350px;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    &--maroon {
      background-color: $maroon;
      border: 3px solid $maroon;
      color: white;
      &:hover {
        background-color: white;
        color: $maroon;
      }
    }
    &--white {
      background-color: white;
      border: 3px solid white;
      color: $maroon;
      &:hover {
        background-color: $maroon;
        color: white;
      }
    }
}

.order-btn {
    width: 200px;
    font-size: 2em;
    margin: 40px 20px 20px 50px;
}