*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$brown: rgb(85, 51, 0);
$golden: rgb(240, 218, 146);
$darkblue: rgb(13, 12, 25);
$maroon: rgb(38, 20, 20);
$cherry: rgb(167, 0, 0);

$heading-font: 'Cormorant Infant', serif;
$main-font: 'PT Serif', serif;

html {
  scroll-behavior: smooth;
}
  
body {
  background-color: #e2e2e2;
  font-family: $heading-font;
  font-size: 10px;
  color: black;
  width: 100%;
  margin: 0;
}

@media (max-width: 500px) {
  body {
    font-size: 7px;
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}