.home {
    display: block;
    height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  .prallax {
    background-image: url("../ravenna-images/001-home_web.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
  }
  
  .sepia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    background-color: #0d0c19a6;
  }
  
  @media screen and (max-device-width: 1024px) {
    .prallax {
      background-attachment: scroll;
    }
  }
  
  @media (max-width: 930px) {
    .home {
      background-size: cover;
    }
  }
  
  .title {
    width: 70%;
    color: white;
    font-size: 1.6em;
    text-shadow: 1px 1px 20px black;
    font-family: $heading-font;
  }
  
  .title__upper {
    text-transform: uppercase;
  }
  
  @media (max-width: 600px) {
    .title {
      width: 90%;
    }
  }
  