@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e2;
  font-family: "Cormorant Infant", serif;
  font-size: 10px;
  color: black;
  width: 100%;
  margin: 0;
}

@media (max-width: 500px) {
  body {
    font-size: 7px;
  }
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.cta-btn {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  padding-top: 30vh;
  font-family: "Cormorant Infant", serif;
}

.cta-btn__link {
  color: white;
  text-decoration: none;
  transition: 0.3s all ease;
}
.cta-btn__link:hover {
  color: white;
}
.cta-btn__link:focus {
  text-decoration: none;
}
.cta-btn__link:active {
  color: #FFF;
}

.cta-btn__effect {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.6em;
  position: relative;
}
.cta-btn__effect:after {
  transition: 0.3s all ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*border-radius:3px; */
  border: 3px solid;
  border-image-source: linear-gradient(45deg, rgb(148, 137, 0), rgb(255, 254, 213), rgb(148, 137, 0));
  border-image-slice: 1;
}
.cta-btn__effect:before {
  content: "";
  position: absolute;
  /*border-radius:3px; */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: rotate(45deg);
  border: 3px solid;
  border-image-source: linear-gradient(45deg, rgb(116, 107, 0), rgb(255, 254, 213), rgb(116, 107, 0));
  border-image-slice: 1;
}
.cta-btn__effect:hover:after {
  transform: rotate(45deg);
}
.cta-btn__effect:active {
  transform: scale(1.1);
}
.cta-btn__effect:active:before {
  background-color: white;
}
.cta-btn__effect:active:after {
  border-color: white;
}

@media (max-width: 960px) {
  .cta-btn {
    padding-top: 100px;
  }
}
@media (max-width: 500px) {
  .cta-btn {
    font-size: 1.5em;
  }
}
.basic-btn {
  display: block;
  width: 350px;
  border-radius: 3px;
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}
.basic-btn--maroon {
  background-color: rgb(22, 20, 45);
  border: 3px solid rgb(22, 20, 45);
  color: white;
}
.basic-btn--maroon:hover {
  background-color: white;
  color: rgb(22, 20, 45);
}
.basic-btn--white {
  background-color: white;
  border: 3px solid white;
  color: rgb(22, 20, 45);
}
.basic-btn--white:hover {
  background-color: rgb(22, 20, 45);
  color: white;
}

.order-btn {
  width: 200px;
  font-size: 2em;
  margin: 40px 20px 20px 50px;
}

.contact-form {
  display: flex;
  margin: 80px;
  color: white;
}

.fs-frm {
  border: 2px solid white;
  border-radius: 3px;
  padding: 20px;
  max-width: 50%;
}
.fs-frm--lightbox {
  margin: auto;
  display: block;
  max-width: 500px;
  font-family: "PT Serif", serif;
  background-color: white;
}

@media (max-width: 1100px) {
  .contact-form {
    flex-direction: column;
    align-items: center;
  }
}
.fs-frm__label {
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

.fs-frm__input {
  border: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75em 1rem;
  margin-bottom: 1.1rem;
}

.fs-frm__select {
  border: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75em 1rem;
  margin-bottom: 1.1rem;
  color: gray;
}
.fs-frm__select--lightbox {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.fs-frm__textarea {
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75em 1rem;
  margin-bottom: 1.1rem;
  resize: vertical;
}

.fs-frm__fieldset {
  border: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.fs-frm ::-moz-placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

.fs-frm legend,
.fs-frm ::placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

.fs-frm input:focus,
.fs-frm select:focus,
.fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

.fs-frm [type=button],
.fs-frm [type=submit],
.fs-frm [type=reset] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.fs-frm [type=button]:focus,
.fs-frm [type=submit]:focus,
.fs-frm [type=reset]:focus {
  outline: none;
}

.fs-frm [type=submit],
.fs-frm [type=reset] {
  margin-bottom: 0;
}

.fs-frm [type=checkbox] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

.fs-frm [type=radio] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-block:first-child {
  margin-right: 10px;
}

@media (max-width: 525px) {
  .form-row {
    flex-direction: column;
  }
  .form-block:first-child {
    margin-right: 0;
  }
}
.fs-frm__button {
  font-size: 1.7em;
  font-family: "Cormorant Infant", serif;
  margin-right: auto;
  margin-left: auto;
}
.fs-frm__button--lightbox {
  font-size: 1.8em;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  height: 40px;
  padding: 0px 20px;
  background-color: rgb(22, 20, 45);
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  width: 800px;
}

.navbar {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

nav li {
  display: flex;
  height: 100%;
  width: 100%;
}

.navbar__link {
  color: rgb(255, 254, 213);
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar__link .fa {
  font-size: 0.8em;
}

.dropdown__list {
  display: none;
  position: absolute;
  background-color: rgb(22, 20, 45);
  min-width: 150px;
  padding: 40px 15px 15px 15px;
  z-index: 1;
}

.dropdown:hover .dropdown__list {
  display: block;
}

.dropdown__item {
  display: block;
  padding: 5px;
  color: rgb(255, 254, 213);
}
.dropdown__item:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  header {
    padding: 0;
  }
  nav {
    width: 100%;
  }
  .navbar__link {
    width: 100%;
  }
}
a.navbar__link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(255, 254, 213);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.navbar__link:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 750px) {
  .navbar__link {
    display: none;
  }
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 2em;
}

h1, h2, h3 {
  margin: 0;
}

section {
  padding: 80px 80px;
}

@media (max-width: 940px) {
  section {
    padding: 60px 60px;
  }
}
@media (max-width: 700px) {
  section {
    padding: 60px 40px;
  }
}
@media (max-width: 500px) {
  section {
    padding: 60px 20px;
  }
}
.sidebar {
  height: 100%;
  width: 0; /* will be changed this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(22, 20, 45);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar__menu {
  text-align: left;
}

/* The sidebar links */
.sidebar__link {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidebar__link:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar__closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0;
  font-size: 60px;
  margin-left: 50px;
  color: white;
  display: block;
}

/* The button used to open the sidebar */
.sidebar__openbtn {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(22, 20, 45);
  color: white;
  border: none;
  padding: 0 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  .sidebar__openbtn {
    display: block;
  }
}
.home {
  display: block;
  height: 100vh;
  color: white;
  padding: 0;
  margin: 0;
}

.prallax {
  background-image: url("../ravenna-images/001-home_web.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.sepia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 12, 25, 0.6509803922);
}

@media screen and (max-device-width: 1024px) {
  .prallax {
    background-attachment: scroll;
  }
}
@media (max-width: 930px) {
  .home {
    background-size: cover;
  }
}
.title {
  width: 70%;
  color: white;
  font-size: 1.6em;
  text-shadow: 1px 1px 20px black;
  font-family: "Cormorant Infant", serif;
}

.title__upper {
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .title {
    width: 90%;
  }
}
.book {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: top;
  min-height: 100vh;
}

.book-cover {
  min-width: 30%;
  margin-right: 30px;
}

img {
  width: 100%;
}

.book-price {
  font-size: 2em;
  font-family: "PT Serif", serif;
}

.book-price__money {
  margin-bottom: 10px;
}

.book-price__text {
  margin: 0;
}
.book-price__text--old-price {
  text-decoration: line-through;
}
.book-price__text--new-price {
  color: rgb(167, 0, 0);
  font-weight: bold;
  font-size: 1.6em;
}

@media (max-width: 900px) {
  .book-cover {
    margin: 0 0 40px 0;
    width: 50%;
  }
}
.book-description {
  font-size: 1.7em;
  text-align: justify;
  color: rgb(22, 20, 45);
  margin-right: 30px;
  font-family: "PT Serif", serif;
}

.book-description h2 {
  text-align: center;
  font-family: "Cormorant Infant", serif;
}

@media (max-width: 900px) {
  .book {
    flex-direction: column;
    align-items: center;
  }
  .book-description {
    margin: 0;
  }
}
.book-description__list {
  list-style: disc inside;
}

.book-description__list-li {
  margin-bottom: 5px;
}

.btn--book-order {
  font-size: 1.2em;
  width: 200px;
}

@media (max-width: 900px) {
  .btn--book-order {
    margin-right: auto;
    margin-left: auto;
  }
}
.book-description__long {
  font-size: 0.9em;
}

.author {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 20, 45);
  align-items: top;
}

.author__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.author__avatar {
  width: 350px;
  margin-right: 30px;
}

.auth-descr {
  font-size: 2.3em;
  text-align: left;
  color: rgb(255, 254, 213);
  margin-left: 30px;
}

.auth-descr__headline {
  text-align: center;
  font-family: "Cormorant Infant", serif;
}

.auth-descr__list {
  list-style: outside;
  font-size: 1.1em;
}

@media (max-width: 900px) {
  .author__container {
    align-items: center;
  }
  .author__avatar {
    width: 250px;
    margin-right: 20px;
  }
  .author__img {
    border-radius: 50%;
  }
}
@media (max-width: 800px) {
  .author__container {
    flex-direction: column;
  }
  .author__avatar {
    width: 250px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 500px) {
  .author__avatar {
    width: 150px;
  }
}
.video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.video__item {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 30%;
}

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  display: none;
}

.wrapper__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__overlay {
  cursor: pointer;
}

.video__img {
  width: 100%;
}

.video__icon-container {
  position: absolute;
  font-size: 7em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 61, 44, 0.2);
  color: rgba(255, 255, 255, 0.7);
}

.video__icon-container:hover {
  background-color: transparent;
  color: white;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.lightbox__fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.lightbox__light {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

.lightbox--form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.lightbox-close--form {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 6em;
  font-weight: bold;
  transition: 0.3s;
}
.lightbox-close--form:hover, .lightbox-close--form:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 525px) {
  .lightbox--form {
    padding-top: 60px;
  }
  .lightbox-close--form {
    top: 5px;
  }
}
.lightbox__iframe {
  width: 560px;
  height: 315px;
}

.lightbox__closex {
  float: right;
  cursor: pointer;
  color: #fff;
  font-size: 9em;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1002;
  opacity: 0.9;
}
.lightbox__closex--form {
  font-size: 7em;
}

.lightbox__closex:before {
  content: "×";
}

@media (max-width: 800px) {
  .video {
    flex-direction: column;
    margin: 0;
  }
  .video__item {
    width: 100%;
  }
}
.timetable {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  color: rgb(22, 20, 45);
}

.timetable h2 {
  font-size: 3.5em;
  margin-bottom: 40px;
  font-family: "Cormorant Infant", serif;
}

.afisha {
  display: flex;
  flex-direction: column;
}

.stayhome {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.stayhome__picture {
  min-width: 200px;
  max-width: 200px;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .stayhome__picture {
    display: none;
  }
}
.stayhome__message {
  font-size: 3em;
  text-align: left;
  margin: 0;
}

.stayhome__link {
  text-decoration: underline;
  color: rgb(167, 0, 0);
}

@media (max-width: 860px) {
  .stayhome__message {
    font-size: 2.5em;
  }
}
.datelist {
  text-align: left;
  font-size: 2em;
  list-style-type: none;
}

.lecture-block {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.lecture-block--empty {
  display: none;
}

.flag {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background: rgb(22, 20, 45);
  background: linear-gradient(90deg, rgb(22, 20, 45) 65%, rgba(22, 20, 45, 0.7) 80%, rgba(22, 20, 45, 0.45) 90%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b2a11",endColorstr="#ffffff",GradientType=1);
  min-width: 250px;
  height: 70px;
  padding: 5px 0;
  border-radius: 3px;
}

.bullet {
  width: 50px;
  margin-left: 7px;
}

.date {
  margin-left: 10px;
  color: white;
}

.event {
  font-size: 1.2em;
  padding-left: 20px;
}

.lecture-list {
  font-family: "PT Serif", serif;
  list-style-type: disc;
  font-size: 0.7em;
  padding-left: 20px;
  line-height: 1.5;
}
.lecture-list li {
  margin: 10px 0 10px 0;
}
.lecture-list__date {
  font-weight: bold;
}

.price p {
  margin-bottom: 7px;
}

.price__comment {
  margin-top: 0;
  font-family: "PT Serif", serif;
  font-size: 0.6em;
  max-width: 700px;
}

@media (max-width: 800px) {
  .datelist li {
    flex-direction: column;
  }
  .event {
    padding: 20px 0 0 0;
  }
}
@media (max-width: 500px) {
  .flag {
    height: 55px;
  }
  .bullet {
    width: 40px;
  }
  .date {
    font-size: 1.3em;
  }
}
.event-description {
  text-align: center;
  max-width: 700px;
  display: inline-block;
}

.display-none {
  display: none;
}

.fade-container {
  margin: auto;
  position: relative;
}

.event-description__text {
  font-family: "PT Serif", serif;
  margin-top: 20px;
  font-size: 0.7em;
  text-align: justify;
  max-height: 65px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .event-description__text {
    text-align: left;
  }
}
.fade-overlay {
  background: linear-gradient(0deg, rgb(255, 255, 255) 4%, rgba(255, 255, 255, 0) 100%);
  display: block;
  height: 65px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  text-align: center;
  transition: background 150ms ease-in;
}

.show-more-line {
  height: 10px;
  border-bottom: 1px solid black;
  position: relative;
}

.show-more-circle {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s;
}
.show-more-circle:hover {
  transform: scale(1.1);
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  position: absolute;
  margin-left: -5px;
}

.arrow--down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 3px;
}

.arrow--up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 7px;
}

.btn {
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  display: inline-block;
}

.show-more-btn {
  color: rgb(22, 20, 45);
  transition: all 0.3s;
  position: relative;
  margin-top: 10px;
}

.show-more-btn span {
  transition: all 0.3s;
}

.show-more-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(22, 20, 45);
  border-bottom-color: rgb(22, 20, 45);
  transform: scale(0.1, 1);
}

.show-more-btn:hover span {
  letter-spacing: 2px;
}

.show-more-btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.show-more-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background-color: transparent;
}

.show-more-btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.timetable__archive {
  font-size: 3em;
  text-decoration: underline;
}

.event--cancelled::before {
  content: "Лекция отменена в связи с карантином";
  display: block;
  color: rgb(167, 0, 0);
  font-weight: bold;
}

.event--online::before {
  content: "Онлайн";
  display: block;
  color: rgb(167, 0, 0);
  font-weight: bold;
}

.event--online-en::before {
  content: "Online event";
  display: block;
  color: rgb(167, 0, 0);
  font-weight: bold;
}

.contacts {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  background-image: url(../ravenna-images/020-forzas-2-double_web.jpg);
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
}

.blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(22, 20, 45);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(22, 20, 45, 0.77) 14%, rgb(22, 20, 45) 39%, rgb(22, 20, 45) 50%, rgb(22, 20, 45) 61%, rgba(22, 20, 45, 0.77) 86%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.contacts h2 {
  font-size: 4em;
  color: rgb(255, 254, 213);
  margin-top: 40px;
  font-family: "Cormorant Infant", serif;
}

.contact-text {
  color: white;
  font-size: 3em;
  max-width: 60%;
}

#linkbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 80%;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.social p {
  font-size: 2em;
  color: white;
  margin: 0;
}

.icon {
  font-size: 7em;
  margin: 20px;
  color: rgb(22, 20, 45);
  background-image: linear-gradient(45deg, rgb(116, 107, 0), rgb(255, 254, 213), rgb(116, 107, 0));
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .contact-text {
    max-width: 70%;
  }
  .contacts h2 {
    padding-top: 60px;
  }
}
@media (max-width: 860px) {
  .contacts {
    background-size: cover;
  }
  .contacts h2 {
    padding-top: 40px;
  }
  .contact-text {
    font-size: 2.5em;
  }
}
@media (max-width: 535px) {
  #linkbar {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .social p {
    font-size: 3.5em;
  }
  .icon {
    font-size: 9em;
  }
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.7em;
  padding: 5px 40px;
  background: rgb(22, 20, 45);
  color: white;
}

footer a {
  color: white;
}

.footer__contacts {
  padding: 0;
  margin-left: 100px;
  color: white;
  align-self: flex-start;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 7px 0;
}

.icon--footer {
  display: inline-block;
  width: 25px;
  text-align: end;
  margin-right: 10px;
}

.footer__copywrite {
  padding: 0;
  margin: 0;
  color: white;
  align-self: flex-end;
}

@media (max-width: 500px) {
  .footer__contacts {
    align-self: center;
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */